#painting	{
	background-color: #fff4db;
	width: 400px;
    height: 400px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 0px #8d8d8d;
}
#toprow	{
	height: 200px;
}
#secondrow	{
	width: 400px;
	height: 10px;
}
#thirdrow	{
	height: 75px;
}
#fourthrow	{
	height: 10px;
	width: 400px;
}
#row5	{
	height: 105px;
}
.blue	{
	background-color: blue;
}
.red	{
	background-color: red;
}
.purple	{
	background-color: purple;
}
.yellow	{
	background-color: yellow;
}
.black	{
	background-color: black;
}
#divider1	{
	height: 200px;
	width: 10px;
}

#bigbox	{
	height: 200px;
	width: 250px;
}
#bigbox3	{
	height: 105px;
	width: 300px;
}
.mediumbox	{
	height: 75px;
	width: 140px;
}
.middlebox	{
	height: 115px;
	width: 140px;
}
.bigbox2	{
	width: 250px;
	height: 75px;
}
.smallbox2	{
	height: 48px;
	width: 90px;
}
.smallbox3	{
	height: 47px;
	width: 90px;
}
#topleftcolumn	{
	height: 200px;
}
#middleleftcolumn	{
	height: 75px;
}
#divider2	{
	height: 10px;
	width:140px;
}
#divider3	{
	height: 75px;
	width: 10px;
}
#divider4	{
	height: 105px;
	width: 10px;
}
#divider5	{
	width: 10px;
	height: 105px;
}
#divider6	{
	width: 90px;
	height: 10px;
}
.right 	{
	float: right;
}