.flex-container	{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 20px;
	margin-bottom: 20px;
}
.center	{
	text-align: center;
}
.head	{
	border: 2px black solid;
}
.c1	{
	flex: 1;
	border: 2px black solid;
}
.c2	{
	flex: 2;
	border-top: 2px black solid;
	border-bottom: 2px black solid;

}
.c3	{
	flex: 1;
	border: 2px black solid;
}
h1	{
	text-align: center;
}