body	{
	background-color: #E80D03;
}
figure	{
	width: 500px;
	margin: 8px 0;
	border: 1px solid #777;
	padding: 8px;
	box-sizing: border-box;
	background-color: #F7EC07;
}
figure img	{
	width:97%;
}
figure figcaption	{
	text-align: center;
	padding: 8px 4px;
	text-decoration: underline;
}
.gallery	{
	display: flex;
	width: 1250px;
	margin: 0 auto;
	justify-content: space-between;
	flex-wrap: wrap;
}
}
*	{
	box-sizing: border-box;
}
img 	{
	width: 290px;
	border: 5px black solid;
}